#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}


body {
  flex: none;
  height: 100%;
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 1
}

h1{
  font-family: Plus Jakarta Sans, sans-serif ;
  font-weight: 700;
}

tbody tr {
  width: 100%;
}

tbody tr:nth-child(even) {
  background-color: rgb(148, 122, 145, 0.2);
}

tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 1);
}


@media(max-width:650px) {
  th {
    display: none;
  }

  td {
    display: block;
    text-align: left;
    padding: .75rem 1rem;
  }

  td::before {
    content: attr(data-cell) ":";
    font-weight: 700;
    text-transform: capitalize;
    padding-right: .5rem
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
